@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('bg3.jpg');
    background-position: center;
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    height: 4.3rem;
}

.header  .logo {
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    width: 180px;
    cursor: pointer;

}
.header  .logo span{
    color: #FAC427;
}

.header .menu i.fa-bars {
    display: none;
}

.header .menu ul {
    display: flex;
    list-style: none;
}

.header .menu ul li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: inline-block;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0 3px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    transition: all 0.3s;
}
.header .menu ul li a.active i{
    margin-right: 5px;
}

.header .menu ul li a.active,
.header .menu ul li a:hover{
    background: #FAC427;
    color: #000;
}

/* Hero Section */
.hero_container {
    width: 100%;
    height: 100%;
    height: calc(100vh - 4.3rem);
    padding: 0rem 6rem 0 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.hero_container .hero-logo {
    font-size: 1.3rem;
    font-family: 'Acme', sans-serif;
}
.hero_container .hero-logo span{
    color: #FAC427;
}

.hero_container h2 {
    font-size: 3rem;
    text-shadow: 2px 3px 10px #000;
    margin: 0px;
    text-transform: uppercase;
}

.hero_container h2 span{ 
    color: #FAC427;
}

.hero_container p{
    font-size: 1rem;
    margin-top: -10px;
}

.hero_container input[type="button"]{
    display: inline-block;
    border: none;
    outline: none;
    max-width: 100px;
    padding: 10px 5px;
    margin: 40px 0 0;
    background: #FAC427;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}

/* =========== our-service-section =========== */

.our-service-section {
    padding: 100px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.service-header h1{
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    display: inline-block;
}
.service-header h1 span{
    color: #E7B10A;
}
.service-header h1::after{
    content: '';
    position: absolute;
    top: 90%;
    right:0;
    width: 80%;
    height: 3px;
    background: #000;
}
.service-header h1::before{
    content: '';
    position: absolute;
    top: 100%;
    right:0;
    width: 98%;
    height: 3px;
    background: #000;
}

.service-container {
    display: flex;
    text-align: left;
}

.service-container-left {
    margin-right: 10px;
}
.service-container-right {
    margin-left: 10px;
}

.service-box {
    display: flex;
    overflow: hidden;
    height: 130px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.service-box .icon i{
    font-size: 30px;
    color: #FAC427;
    margin: 10px 15px;
    text-shadow: 1px 3px 3px #000;
}
.service-box .service-details {
    margin-top: 8px;
}

/* Car Collection Section  */

.car-collection-section {
    padding: 100px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}